////////////////////////////////////////////////////////////////
/////////////////			Colors				////////////////
////////////////////////////////////////////////////////////////
$istra-red: 		rgba(220, 46, 65, 1);
$istra-red-dark:	rgba(195, 29, 49, 1);
$istra-white: 		rgba(255, 255, 255, 1);
////////////////////////////////////////////////////////////////
/////////////////		Screen Sizes			////////////////
////////////////////////////////////////////////////////////////
$xs-screen: 280px;
$sm-screen: 280px;
$sm-tablet: 600px;
$ip-tablet: 768px;
$wd-tablet: 1600px;