<div class="">

	<div class="contenedor-logo inicio centrar-img-v-h">
		<span class="inicio">
			<img style="-webkit-filter: invert(100%);" src="img/logo-empresa.png" alt="Logo Istra"> <br>
			Seguros de Mercancías
		</span>
		<span class="inicio">
			<b>Empresa s.a. de c.v.</b> <br>
			RFC: PERL-660524-4J8
		</span>
	</div>

	<div class="contenedor-login inicio">
	  	<a class="red btn-dark" href="#/certificados">Certificados</a>
	  	<a class="red btn-dark" href="#/razones">Razones</a>
	</div>

</div