<div class="pantalla-roja">

	<div class="login-span"><span >Login . . .</span></div>

	<div class="contenedor-logo centrar-img-v-h">
		<span></span>
		<img src="img/logo-empresa.png" alt="Logo Istra">
	</div>

	<div class="contenedor-login">
		<form>
		    <div class="input-transparente">
			    <input id="mail" type="email" name="email" placeholder="Email" autocomplete="on" required>
			  	<label for="mail">Email</label>
		    </div>
		    <div class="input-transparente">
			  	<input id="pwd" type="password" name="password" placeholder="Contraseña" required>
			  	<label for="pwd">Contraseña</label>
		    </div>
		    <div>
			  	<!--<button class="btn-dark" type="submit">Iniciar Sesión</button>-->
		  		<a class="btn-dark" href="#/inicio">Iniciar Sesión</a>
			</div>
	    </form>
		<div>
		  	<a href="#/registro/datos">Regístrate</a>
		  	<a href="#/forgot_pwd">¿Olvidaste tu contraseña?</a>
		</div>
	</div>

</div