<div class="">

	<header>
		<a class="icon-home" href="#/inicio"></a>
		<h3> Razones </h3>
		<a class="icon-plus" href="#/razones/datos"></a>
	</header>

	<div class="contenido">
		<div class="contenido-lista">
			<p>Empresa S.A. de C.V. <span>ID: 98765</span></p>
			<p>RFC: ESA 660524 4J8  <span class="city">&nbsp;GDL, JAL.</span><span class="active ">ACTIVO</span></p>
		</div>
		<div class="contenido-lista">
			<p>Empresa2 S.A. de C.V. <span>ID: 98765</span></p>
			<p>RFC: XPS 930207 HJC  <span class="city">&nbsp;GDL, JAL.</span><span class="inactive ">INACTIVO</span></p>
		</div>
	</div>

</div>