<div class="pantalla-roja">
	<header>
		<a class="icon-arrow-left2" href="#/razones/localizacion"></a>
		<h3> Control ártículo 140 </h3>
	</header>
	<div class="contenido">
		<form>
			<div class="input-radios">
				<span class="check"> <input type="checkbox" name="acta" value="acta"> Acta Constitutiva </span> <br>
				<span class="check"> <input type="checkbox" name="ine" value="ine"> INE </span> <br>
				<span class="check"> <input type="checkbox" name="cedula" value="cedula"> Cédula Fiscal </span> <br>
				<span class="check"> <input type="checkbox" name="comproba_domicilio" value="comproba_domicilio"> Comprobante de Domicilio </span>
			</div>
	    </form>
	</div>
	<div class="status-bullets">&#9678; &#9679; &#9678;</div>
	<footer class="footer">
	  	<a class="btn-dark" href="#/razones">Finalizar</a>
	</footer>
</div>