<div class="pantalla-roja">
	<header>
		<a class="icon-arrow-left2" href="#/"></a>
		<h3> Datos Generales </h3>
		<!--<a href="#/asd">
			siguiente
		</a>-->
	</header>
	<div class="contenido">
		<form>
			<div class="input-radios">
				<span>
					<label for="p_fisica">Persona física </label><input id="p_fisica" type="radio" name="persona" value="fisica">  &nbsp;
					<label for="p_moral">Persona moral </label><input id="p_moral" type="radio" name="persona" value="moral">
				 </span>
			</div>
		    <div class="input-transparente">
			    <input id="rfc" type="text" name="rfc" placeholder="RFC" autocomplete="on" required>
			  	<label for="rfc">RFC</label>
		    </div>
		    <div class="input-transparente">
			    <input id="name" type="text" name="name" placeholder="Nombre" autocomplete="on" required>
			  	<label for="name">Nombre</label>
		    </div>
		    <div class="input-transparente">
			    <input id="paterno" type="text" name="a_paterno" placeholder="Apellido Paterno" autocomplete="on" required>
			  	<label for="paterno">Apellido Paterno</label>
		    </div>
		    <div class="input-transparente">
			    <input id="materno" type="text" name="a_materno" placeholder="Apellido Materno" autocomplete="on" required>
			  	<label for="materno">Apellido Materno</label>
		    </div>
		    <div class="input-transparente">
			    <input id="fecha" type="date" name="bday" placeholder="Fecha de nacimiento" autocomplete="on" required>
			  	<label for="fecha">Fecha de nacimiento&nbsp;&nbsp;&nbsp;&nbsp;</label>
		    </div>
			<div class="input-radios">
				<span>
					Femenino   <input type="radio" name="sexo" value="femenino">  &nbsp;
					Masculino  <input type="radio" name="sexo" value="masculino">
					Extranjero <input type="checkbox" name="nacionalidad" value="extranjero">
				 </span>
			</div>
		    <div class="input-transparente">
			    <input id="direccion" type="text" name="domicilio" placeholder="Domicilio" autocomplete="on" required>
			  	<label for="direccion">Dirección</label>
		    </div>
		    <div class="input-transparente">
			    <input id="n_exterior" type="number" name="num_exterior" placeholder="Número Exterior" autocomplete="on" required>
			  	<label for="n_exterior">Número Exterior</label>
		    </div>
		    <div class="input-transparente">
			    <input id="n_interior" type="number" name="num_interior" placeholder="Número Interior" autocomplete="on" required>
			  	<label for="n_interior">Número Interior</label>
		    </div>
		    <div class="input-transparente">
			    <input id="postal" type="number" name="zip_code" placeholder="Código Postal" autocomplete="on" required>
			  	<label for="postal">C. P.</label>
		    </div>
		    <div class="input-transparente">
			    <input id="colonia" type="text" name="colonia" placeholder="Colonia" autocomplete="on" required>
			  	<label for="colonia">Colonia</label>
		    </div>
			<div class="input-transparente">
			    <select id="estado" name="estado" form="">
					<option disabled selected>Estado</option>
					<option value="jalisco">Jalisco</option>
				</select>
				<label for="estado">Estado &nbsp;&nbsp;&nbsp;&nbsp;</label>
			</div>
		    <div class="input-transparente">
			    <input id="municipio" type="text" name="municipio" placeholder="Ciudad | Municipio | Delegación" autocomplete="on" required>
			  	<label for="municipio">Municipio</label>
		    </div>
		    <div class="input-transparente">
			    <input id="actividad" type="text" name="giro" placeholder="Giro o Actividad" autocomplete="on" required>
			  	<label for="actividad">Giro o Actividad</label>
		    </div>
		    <div class="input-transparente">
			    <input id="entrega" type="text" name="d_entrega" placeholder="Dirección de entrega" autocomplete="on" required>
			  	<label for="entrega">Dirección Entrega</label>
		    </div>
		    <div class="input-transparente">
			    <input id="cobro" type="text" name="d_cobro" placeholder="Dirección de cobro" autocomplete="on" required>
			  	<label for="cobro">Dirección Cobro</label>
		    </div>
		    <div class="input-transparente">
			    <textarea rows="6" placeholder="Observaciones"></textarea>
		    </div>
	    </form>
	</div>
	<div class="status-bullets">&#9679; &#9678; &#9678;</div>
	<footer class="footer">
	  	<a class="btn-dark" href="#/registro/localizacion">Siguiente</a>
	</footer>

</div>