<div class="pantalla-roja">
	<header>
		<a class="icon-arrow-left2" href="#/registro/localizacion"></a>
		<h3> Representante </h3>
	</header>
	<div class="contenido">
		<form>
		    <div class="input-transparente">
			    <input id="nombre" type="text" name="name" placeholder="Nombre" autocomplete="on" required>
			  	<label for="nombre">Nombre</label>
		    </div>
		    <div class="input-transparente">
			    <input id="tel" type="tel" name="tel" placeholder="Teléfono" autocomplete="on" required>
			  	<label for="tel">Teléfono</label>
		    </div>
		    <div class="input-transparente">
			    <input id="correo" type="email" name="mail" placeholder="e-mail" autocomplete="on" required>
			  	<label for="correo">E-mail</label>
		    </div>
		    <div class="input-transparente">
			    <input id="fecha" type="date" name="bday" placeholder="Fecha de nacimiento" autocomplete="on" required>
			  	<label for="fecha">Fecha de nacimiento&nbsp;&nbsp;&nbsp;&nbsp;</label>
		    </div>
	    </form>
	</div>
	<div class="status-bullets">&#9678; &#9678; &#9679;</div>
	<footer class="footer">
	  	<a class="btn-dark" href="#/inicio">Finalizar</a>
	</footer>
</div>