<div class="pantalla-roja">
	<header>
		<a class="icon-arrow-left2" href="#/registro/datos"></a>
		<h3> Localización </h3>
	</header>
	<div class="contenido">
		<form>
		    <div class="input-transparente">
			    <input id="telefono" type="tel" name="telefono" placeholder="Teléfono" autocomplete="on" required>
			  	<label for="telefono">Teléfono</label>
		    </div>
		    <div class="input-transparente">
			    <input id="fax" type="tel" name="fax" placeholder="Nombre" autocomplete="on" required>
			  	<label for="fax">Fax</label>
		    </div>
		    <div class="input-transparente">
			    <input id="cellphone" type="tel" name="cellphone" placeholder="Móvil / Radio" autocomplete="on" required>
			  	<label for="cellphone">Móvil / Radio</label>
		    </div>
		    <div class="input-transparente">
			    <input id="correo" type="email" name="mail" placeholder="e-mail" autocomplete="on" required>
			  	<label for="correo">E-mail</label>
		    </div>
	    </form>
	</div>
	<div class="status-bullets">&#9678; &#9679; &#9678;</div>
	<footer class="footer">
	  	<a class="btn-dark" href="#/registro/representante">Siguiente</a>
	</footer>
</div>