@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans-Regular.eot"), url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold.eot"), url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.ttf") format("truetype"), url("../fonts/icons.eot"), url("../fonts/icons.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-home:before {
  content: "\e900"; }

.icon-plus:before {
  content: "\ea0a"; }

.icon-minus:before {
  content: "\ea0b"; }

.icon-cross:before {
  content: "\ea0f"; }

.icon-checkmark:before {
  content: "\ea10"; }

.icon-checkmark2:before {
  content: "\ea11"; }

.icon-arrow-right2:before {
  content: "\ea3c"; }

.icon-arrow-left2:before {
  content: "\ea40"; }

.icon-checkbox-checked:before {
  content: "\ea52"; }

.icon-checkbox-unchecked:before {
  content: "\ea53"; }

.icon-radio-checked:before {
  content: "\ea54"; }

.icon-radio-checked2:before {
  content: "\ea55"; }

.icon-radio-unchecked:before {
  content: "\ea56"; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  -webkit-tap-highlight-color: transparent;
  font-family: 'OpenSans'; }

html {
  font-size: 16px; }

body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: white;
  font-size: 1rem;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  width: 100vw;
  position: relative;
  overflow: hidden; }
  body ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5); }

a {
  margin: 15px 0;
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
  display: inherit;
  text-transform: uppercase; }

header {
  background-color: #dc2e41;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  padding-top: 3px;
  height: 3.9rem;
  color: white; }
  header h3 {
    text-transform: capitalize;
    font-size: 1rem;
    width: 49%;
    display: inline-block;
    text-align: -webkit-center;
    text-align: center; }
  header a {
    text-transform: lowercase;
    width: 24%;
    font-size: 1.125rem;
    text-align: -webkit-center;
    text-align: center;
    display: inline-block; }
    header a .text {
      font-size: 0.75rem; }

div.login-span {
  width: 100%;
  max-height: 8vh;
  text-align: -webkit-center;
  text-align: center; }
  div.login-span span {
    display: inline-block;
    vertical-align: middle;
    margin: 20px auto;
    font-size: 1rem;
    color: white;
    color: transparent;
    overflow: hidden; }

.active {
  color: green !important; }

.inactive {
  color: red !important; }

.btn-dark {
  margin: 20px 5vw 0 5vw;
  width: 90vw;
  background: #c31d31;
  border: #c31d31;
  padding: 15px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: middle; }

a.btn-dark {
  margin: auto;
  width: 82.5%; }

.centrar-img-v-h {
  text-align: center; }
  .centrar-img-v-h span {
    display: inline-block;
    vertical-align: middle;
    height: 100%; }
  .centrar-img-v-h img {
    display: inline-block;
    width: 20%; }

.contenedor-logo {
  height: 46vh; }
  .contenedor-logo.inicio {
    height: 60vh; }
  .contenedor-logo span.inicio {
    height: initial;
    font-size: 1.25rem; }
    .contenedor-logo span.inicio:first-child {
      padding-top: 10vh;
      font-size: 0.875rem;
      text-transform: none; }
      .contenedor-logo span.inicio:first-child img {
        width: 35%;
        margin-bottom: 0.625rem; }
    .contenedor-logo span.inicio:nth-child(2) {
      margin-top: 7.5vh;
      font-size: 1.25rem;
      line-height: 1.9rem; }

.contenedor-login {
  height: 46vh; }
  .contenedor-login.inicio {
    height: 35vh; }
  .contenedor-login div {
    margin: 0.625rem 0; }
    .contenedor-login div:last-child {
      font-size: 0.875rem; }
    .contenedor-login div.input-transparente {
      margin: 0; }
  .contenedor-login a.red {
    margin-top: 5vh; }

.contenido {
  margin-top: 4rem;
  overflow: hidden; }
  .contenido h3 {
    text-transform: capitalize;
    text-align: center;
    margin: 0 0 1rem 0;
    color: white; }

.contenido-lista {
  border-bottom: 1px solid #CCC;
  padding: 0 1rem; }
  .contenido-lista p {
    text-transform: none;
    color: #777; }
    .contenido-lista p:first-child {
      color: black;
      font-weight: bold; }
    .contenido-lista p span {
      color: #777;
      font-weight: normal;
      float: right; }
      .contenido-lista p span.active, .contenido-lista p span.inactive {
        font-size: 1.05rem; }
      .contenido-lista p span.city {
        float: initial; }

.footer {
  width: 100%;
  height: 4.375rem;
  margin: auto;
  z-index: 10; }

div.input-transparente input, div.input-transparente select, div.input-transparente textarea {
  border: none;
  border-bottom: solid 1px rgba(255, 255, 255, 0.15);
  background: transparent;
  padding-bottom: 10px;
  margin: 10px 5vw;
  color: white;
  width: 90vw; }
div.input-transparente label {
  margin-top: -40px;
  position: absolute;
  color: rgba(255, 255, 255, 0.75);
  text-align: right;
  width: 94%;
  z-index: 0;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold; }
div.input-transparente textarea {
  border: solid 1px rgba(255, 255, 255, 0.15);
  resize: none; }

div.input-radios {
  color: rgba(255, 255, 255, 0.75);
  font-size: 0.875rem;
  margin-bottom: 0.3rem;
  text-transform: capitalize; }
  div.input-radios span {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    text-align: center;
    text-transform: none;
    width: 100%; }
    div.input-radios span.check {
      text-align: left;
      margin: 0.3rem 5vw;
      font-size: 1.125rem; }
    div.input-radios span input[type='checkbox'] {
      margin-right: 0.5rem; }

.pantalla-roja {
  background-color: #dc2e41;
  min-height: 100vh;
  width: 100%;
  overflow: hidden; }

.status-bullets {
  width: 100%;
  margin: 0 auto 1rem auto;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-size: 2rem; }
