@import 'vars';
@import 'fonts';
@import 'icon-font';

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-tap-highlight-color: transparent;
    font-family:'OpenSans';
}
html {
    font-size: 16px;
}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */

    background-color:$istra-white;

    font-size:  1rem;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    //height:100vh;
    width:100vw;

    position: relative;
    overflow: hidden;

    ::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.5);
    }
}

a {
    margin: 15px 0;
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    display: inherit;
    text-transform: uppercase;
}

header {
    background-color : $istra-red;
    position   : fixed;
    left       : 0;
    top        : 0;
    z-index    : 9999;
    width      : 100%;
    padding-top: 3px;
    height     : 3.9rem;
    color      : white;
    h3 {
        text-transform: capitalize;
        font-size  : 1rem;
        width      : 49%;
        display    : inline-block;
        text-align : -webkit-center;
        text-align : center;
    }
    a {
        text-transform: lowercase;
        width      : 24%;
        font-size  : 1.125rem;
        text-align : -webkit-center;
        text-align : center;
        display    : inline-block;
        .text {
            font-size: 0.75rem;
        }
    }
}
div.login-span {
    width      : 100%;
    max-height : 8vh;
    text-align : -webkit-center;
    text-align : center;
    span {
        display        : inline-block;
        vertical-align : middle;
        margin         : 20px auto;
        font-size      : 1rem;
        color          : white;         //Blanco al animar
        color          : transparent;
        overflow       : hidden;
    }
}

.active {
    color: green !important;
}
.inactive {
    color: red !important;
}

.btn-dark {
    margin: 20px 5vw 0 5vw;
    width: 90vw;

    background: $istra-red-dark;
    border: $istra-red-dark;
    padding: 15px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1rem;
    text-transform: uppercase;

    text-decoration: none;
    vertical-align: middle;
}

a.btn-dark {
    margin: auto;
    width: 82.5%;
}

.btn-next {

}

.centrar-img-v-h {
    text-align : center;
    span {
        display        : inline-block;
        vertical-align : middle;
        height         : 100%;
    }
    img {
        display : inline-block;
        width   : 20%;
    }
}

.contenedor-logo {
    height: 46vh;
    &.inicio {
        height: 60vh;
    }
    span.inicio {
        height: initial;
        font-size: 1.25rem;
        &:first-child {
            padding-top: 10vh;
            font-size: 0.875rem;
            text-transform: none;
            img {
                width: 35%;
                margin-bottom: 0.625rem;
            }
        }
        &:nth-child(2) {
            margin-top: 7.5vh;
            font-size: 1.25rem;
            line-height: 1.9rem;
        }
    }
}

.contenedor-login {
    height: 46vh;
    &.inicio {
        height: 35vh;
    }
    div {
        margin: 0.625rem 0;
        &:last-child {
            font-size: 0.875rem;
        }
        &.input-transparente {
            margin: 0;
        }
    }
    a.red {
        margin-top: 5vh;
    }
}

.contenido {
    margin-top  : 4rem;
    //margin-bottom: 4.3rem;
    overflow    : hidden;
    h3 {
        text-transform: capitalize;
        text-align: center;
        margin: 0 0 1rem 0;
        color: white;
    }
}

.contenido-lista {
    border-bottom: 1px solid #CCC;
    padding: 0 1rem;
    p {
        text-transform: none;
        color: #777;
        &:first-child {
            color: black;
        font-weight: bold;
        }
        span {
            color: #777;
            font-weight: normal;
            float: right;
            &.active, &.inactive {
                font-size: 1.05rem;
            }
            &.city {
                float: initial;
            }
        }
    }
}

.footer {
    //position: fixed;
    //bottom: 0;
    //left: 0;
    width: 100%;
    height: 4.375rem;
    margin: auto;
    z-index: 10;
}

div.input-transparente {
    input, select, textarea {
        border : none;
        border-bottom  : solid 1px rgba(255, 255, 255, 0.15);
        background     : transparent;
        padding-bottom : 10px;
        margin : 10px 5vw;
        color  : white;
        width  : 90vw;
    }
    label {
        margin-top: -40px;
        position: absolute;
        color: rgba(255, 255, 255, 0.75);
        text-align: right;
        width: 94%;
        z-index: 0;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: bold;
    }
    textarea {
        border: solid 1px rgba(255, 255, 255, 0.15);
        resize: none;
    }
}

div.input-radios {
    color          : rgba(255, 255, 255, 0.75);
    font-size      : 0.875rem;
    margin-bottom  : 0.3rem;
    text-transform : capitalize;
    span {
        display        : inline-block;
        vertical-align : middle;
        height         : 100%;
        text-align     : center;
        text-transform : none;
        width          : 100%;
        &.check {
            text-align : left;
            margin     : 0.3rem 5vw;
            font-size  : 1.125rem;
        }
        input[type='checkbox'] {
            margin-right: 0.5rem;
        }
    }
}

.pantalla-roja {
    background-color: $istra-red;
    min-height      : 100vh;
    width           : 100%;
    overflow        : hidden;
}

.status-bullets {
    width: 100%;
    margin: 0 auto 1rem auto;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 2rem;
}